<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PolashiApp"
        android:allowBackup="true"
        android:label="Polashi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Polashi"
        android:usesCleartextTraffic="true">
        <!-- usesCleartextTraffic is for local dev against http://10.0.2.2; use https in prod. -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Polashi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
